*{
  margin: 0;
  padding: 0;
  /*outline: 1px solid red;*/
}
body{
  width: 950px;
}
h1{
  margin: 20px;
}
img{
  display: inline-block;
  height: 150px;
  margin: 20px;
}
button{
  font-size: 20px;
  background-color: blue;
  color: white;
  margin: 10px 40px;
  border-radius: 20px;
  padding: 10px 20px;
}
